.header_input {
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	color: black  !important
}
.hiddencol {
	display:none;
}
td.currencyCol {
	text-align:right !important
}

.currencyCol{
	text-align:right !important
}

.currencyColCenter{
	text-align:center !important
}

/* Hide overlay markup while loading, if js is enabled */
.yui3-js-enabled .yui3-overlay-loading {
    top:-1000em;
    left:-1000em;
    position:absolute;
}
.align_center{
	text-align:center !important;
}
/* Overlay Look/Feel */
.yui3-overlay-content {
    background-color: #ECEFFB;
    border: 1px solid #9EA8C6;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.yui3-overlay-content .yui3-widget-hd {
    background-color: #B6BFDA;
    color: #30418C;
    font-size: 120%;
    font-weight: bold;
    padding: 0.2em 0.5em 0.3em;
    border-radius: 2px 2px 0 0;
}

.yui3-overlay-content .yui3-widget-bd {
    padding: 0.4em 0.6em 0.5em;
}

.yui3-overlay-content .yui3-widget-ft {
    background-color:#DFE3F5;
    padding: 0.4em 0.6em 0.5em;
    border-radius: 0 0 2px 2px;
}

/* fix for date selector in table header */
#header_inv_date div {
	margin: 0 !important;
}

#header_datascadenta div {
	margin: 0 !important;
}

#header_data_factura div {
	margin: 0 !important;	
}

#header_data_inreg div {
	margin: 0 !important;	
}

#filter-dataf div {
	margin : 0 !important;
}

#filter-data-inreg div {
	margin :0 !important;
}
.selectDimensions  {
	width:auto;
}
#filter-data-inreg div, #filter-dataf div {
	margin: 0 !important;
}
#filter-date div {
	margin :0 !important;
	
}
#def-lot-groupe .table-selection {min-height: 500px}

.btn {
	color : white !important;
}

.div_invoice_id {
	background-color: #F1FBD1;
	border: 1px solid #D0EF6C;
	height: 30px;
	color: #488F06;
	padding-top: 5px;
	padding-left: 10px;
}

.div_invoice_cid {
	background-color: #F1FBD1;
	border: 1px solid #D0EF6C;
	height: 30px;
	color: #488F06;
	padding-top: 5px;
	padding-left: 10px;
}

.inlineTable {
    display: inline-block;
    width: 100%!important;
}
.inlineTableEmptycol {
    display: inline-block;
    width: 15%!important;
}